:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

img {
  width: 10rem;
  height: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav {
  width: 75vw;
  background-color: rgb(142, 173, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 0.5rem 3rem;

  &__logo {
    width: 7rem;
    height: 5rem;
    margin-right: auto;
  }
  &__button {
    width: 7rem;
    height: 3rem;
  }
}

.footer {
  margin-top: 20rem;
  width: 75vw;
  background-color: antiquewhite;
  display: flex;
  gap: 3rem;
  padding: 4rem 2rem;

  div:nth-child(2),
  div:nth-child(3) {
    width: 32%;
  }
}

.home {
  width: 75vw;
  height: 80vh;
  padding: 15rem 2rem;
}

.feature {
  width: 75vw;
  height: 80vh;
  padding: 15rem 2rem;
  display: grid;
  grid-template-columns: 25rem 25rem;
}
